<%= render "layouts/internalnav" %>
<h3> this is where the networks will be listed <h3>
    <!-- Is this Rails convention for buttons? -->
     <a href="#" class="button success">Facebook</a>
     <a href="#" class="button success">Linkedin</a>
     <a href="#" class="button success">Twitter</a>

