<div class="application-nav">
  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="left">
      </ul>
      <ul class="right">
        <li><%= link_to "Upgrade", upgrades_path %></li>
      </section>
    </nav>
  </div>
<%= yield %>

<div class="suggested_jobs">
  <% @suggestions.each do |suggestion| %>
    <div class= "job">
    <p> <%= suggestion.title %> </p>
    <p> <%= suggestion.salary %> </p>
  </div>
<% end %>
</div>
<div class="industries">
  <% @industries.each do |industry| %>
    <div class= "industry">
  </div>
<% end %>
</div>

