@import "variables";

.iconset {
  padding-top: 30px;
}

.bottom-content {
  padding-top: 80px;
  .row {
    padding-top: 30px;
  }
}

.bottom-cta {
  padding-top: 80px;
}

.row-content {
  padding-top: 10px;
}

.landing-content {
  font-size: 1.2rem;
}

