@import "variables";

.title {
    position: relative;
    display: inline-block;
    margin-left: 300px;
}

.location {
    position: absolute;
    display: inline-block;
    margin-left:40px;
}

.btn {
 padding-right: 100px;

}
