@import "variables";

.top-bar {
  background: $white;
  height: 70px;
}

.name {
  img {
    height: 75px;
  }
}

.top-bar-section {
  ul {
    padding-top: 13px;
  }

  ul li {
    background: $white;
  }

  .button {
    background-color: $buttonred;
  }
}

