<div class="application-nav">
  <nav class="top-bar">
    <section class="top-bar-section">
      <ul class="right">
        <li> Home </li>
        <li> Hires </li>
        <li> Jobs </li>
        <li> Upgrade </li>
      </ul>
    </section>
  </nav>
</div>

